<div class="container">
    <div class="row">
      <div class="col">
        <h4><div class="col"><a asp-action="Create"  asp-controller="Voos"> Cadastrar Meu Destino</a></div></h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>Temos os melhores destinos</h5>
      </div>
      <div class="col-6">
        <img src="~/imagens/bahia/boipeba.jpg" width="100%" height="100%" alt=""> 
      </div>
      <div class="col-6">
        <h3>Bahia com nunca antes</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse molestias non exercitationem illo consequatur quo in ad, consequuntur minus architecto ipsam voluptatibus modi dicta eligendi quas cum, ea laboriosam quia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus totam nihil doloremque numquam dolore unde earum, ipsa esse cum iusto quo fugit? Possimus doloremque commodi iste ut nobis magni dolorem!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse molestias non exercitationem illo consequatur quo in ad, consequuntur minus architecto ipsam voluptatibus modi dicta eligendi quas cum, ea laboriosam quia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus totam nihil doloremque numquam dolore unde earum, ipsa esse cum iusto quo fugit? Possimus doloremque commodi iste ut nobis magni dolorem!
      </div>
      <div class="col-6">
        <img src="~/imagens/cancun/cancun-resorts.jpg" width="100%" height="100%" alt=""> 
      </div>
      <div class="col-6">
        <h3>Cancun.</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse molestias non exercitationem illo consequatur quo in ad, consequuntur minus architecto ipsam voluptatibus modi dicta eligendi quas cum, ea laboriosam quia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus totam nihil doloremque numquam dolore unde earum, ipsa esse cum iusto quo fugit? Possimus doloremque commodi iste ut nobis magni dolorem!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse molestias non exercitationem illo consequatur quo in ad, consequuntur minus architecto ipsam voluptatibus modi dicta eligendi quas cum, ea laboriosam quia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus totam nihil doloremque numquam dolore unde earum, ipsa esse cum iusto quo fugit? Possimus doloremque commodi iste ut nobis magni dolorem!
      </div>
      <div class="col-6">
        <img src="~/imagens/fortaleza/capa.jpg" width="100%" height="100%"alt=""> 
      </div>
      <div class="col-6">
        <h3>Aproveite a fotaleza</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse molestias non exercitationem illo consequatur quo in ad, consequuntur minus architecto ipsam voluptatibus modi dicta eligendi quas cum, ea laboriosam quia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus totam nihil doloremque numquam dolore unde earum, ipsa esse cum iusto quo fugit? Possimus doloremque commodi iste ut nobis magni dolorem!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse molestias non exercitationem illo consequatur quo in ad, consequuntur minus architecto ipsam voluptatibus modi dicta eligendi quas cum, ea laboriosam quia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus totam nihil doloremque numquam dolore unde earum, ipsa esse cum iusto quo fugit? Possimus doloremque commodi iste ut nobis magni dolorem!
      </div>
      <div class="col-6">
        <img src="~/imagens/Dysney/Dysney marvel.jpg" width="100%" height="100%" alt=""> 
      </div>
      <div class="col-6">
        <h3>Disney agora com uma are da marvel</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse molestias non exercitationem illo consequatur quo in ad, consequuntur minus architecto ipsam voluptatibus modi dicta eligendi quas cum, ea laboriosam quia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus totam nihil doloremque numquam dolore unde earum, ipsa esse cum iusto quo fugit? Possimus doloremque commodi iste ut nobis magni dolorem!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse molestias non exercitationem illo consequatur quo in ad, consequuntur minus architecto ipsam voluptatibus modi dicta eligendi quas cum, ea laboriosam quia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus totam nihil doloremque numquam dolore unde earum, ipsa esse cum iusto quo fugit? Possimus doloremque commodi iste ut nobis magni dolorem!
      </div>
      
    </div>
  </div>
   <div class="container">
            <footer>© Copyright <span>Pectros</span> 2021</footer>
        </div>