<div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Ofertas únicas onde você só encontra aqui</h2>
            </div>
            <div class="col-12"><br></div>
            <div class="col-12">
                <h4>Viajens em familia</h4>
            </div>
            <div class="col-3">
                <h6>Disney</h6>
                <img src="~/imagens/promoções/Africa.jpg" alt="" width="180%" h>
                <p>De R$55.000,00 para R$20.000,00 oferta imperdivel em ate 24x no Cartão</p>
            </div>
            <div class="col-3">
                <h6>Africa</h6>
                <img src="~/imagens/promoções/Africa.jpg" alt="" width="180%" height="80.50%">
                <p>Viaje a Africa por R$9.500,00 pacote completo em até 24x no cartão</p>
            </div>
            <div class="col-3">
                <h6>Londres</h6>
                <img src="~/imagens/promoções/Londres.jpg" alt="" width="180%" height="80.50%">
                <p>Viaje a londres por 12.500,00 e em até 24x sem juros no cartão</p>
            </div>
            <div class="col-3">
                <h6>Roma</h6>
                <img src="~/imagens/promoções/roma.jpg" alt="" width="180%" height="80.50%">
                <p>Viaje a roma por 13.500,00 e em até 24x sem juros no cartão</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
    
            </div>
            <div class="col-12"><br></div>
            <div class="col-12">
                <h4>Viajem dos sonhos</h4>
            </div>
       
            <div class="col-3">
                <h6>Dubai</h6>
                <img src="~/imagens/promoções/dubai.jpg"  width="180%" height="80.50%">
                <p>Va a frança de R$88.000,00 para 50.088,00 em até 12x sem juros no cartão</p>
            </div>
            <div class="col-3">
                <h6>Africa</h6>
                <img src="~/imagens/promoções/Africa.jpg" alt="" width="180%" height="80.50%">
                <p>Viaje a Africa por R$9.500,00 pacote completo em até 24x no cartão</p>
            </div>
            <div class="col-3">
                <h6>Cancun</h6>
                <img src="~/imagens/cancun/cancun-resorts.jpg" alt="" width="180%" height="80.50%">
                <p>Viaje a Cancun por 12.500,00 e em até 24x sem juros no cartão</p>
            </div>
            <div class="col-3">
                <h6>Roma</h6>
                <img src="~/imagens/promoções/roma.jpg" alt="" width="180%" height="80.50%">
                <p>Viaje a roma por 13.500,00 e em até 24x sem juros no cartão</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
    
            </div>
            <div class="col-12"><br></div>
            <div class="col-12">
                <h4>Ferias dos sonhos</h4>
            </div>
            <div class="col-3">
                <h6>egito</h6>
                <img src="~/imagens/Dysney/disney.jpg" alt="" width="180%" h>
                <p>pacote especial para monitores recode, viajem de R$50.000,00  para R$12.500,00 em até 12x sem juros </p>
            </div>
            <div class="col-3">
                <h6>Africa</h6>
                <img src="~/imagens/promoções/Africa.jpg" alt="" width="180%" height="80.50%">
                <p>Viaje a Africa por R$9.500,00 pacote completo em até 24x no cartão</p>
            </div>
            <div class="col-3">
                <h6>Egito</h6>
                <img src="~/imagens/promoções/egito.png" alt="" width="180%" height="80.50%">
                <p>Viaje a londres por 12.500,00 e em até 24x sem juros no cartão</p>
            </div>
            <div class="col-3">
                <h6>Israel</h6>
                <img src="~/imagens/promoções/israel.jpg" alt="" width="180%" height="80.50%">
                <p>Viaje a roma por 13.500,00 e em até 24x sem juros no cartão</p>
            </div>
        </div>
    </div>



 <div class="container">
            <footer>© Copyright <span>Pectros</span> 2021</footer>
        </div>