@model Entrega.Models.Voo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Meu Voo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Numero_Voo" class="control-label"></label>
                <input asp-for="Numero_Voo" class="form-control" />
                <span asp-validation-for="Numero_Voo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeDestino" class="control-label"></label>
                <input asp-for="NomeDestino" class="form-control" />
                <span asp-validation-for="NomeDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CartaoDeCredito" class="control-label"></label>
                <input asp-for="CartaoDeCredito" class="form-control" />
                <span asp-validation-for="CartaoDeCredito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar ao Inicio de Cadastro</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
